body.dark-theme {
    background-color: #1e1e1e;
    color: white;
}

body.dark-theme .rz-header,
body.dark-theme .rz-footer {
    background-color: #333;
    color: white;
}

.custom-header {
    background-color: #3f51b5;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    flex-wrap: wrap;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}


.custom-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}